/* Reset some default styles to ensure consistency across browsers */


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Roboto:wght@100;300;500;700;900&display=swap');


:root {
    --bs-primary: #a44910;
    --bs-primary-hover: #EBDFD7;
    color: white;
   
}

p{
  font-weight: 300;
} 

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--bs-primary-hover);
    color: var(--bs-primary);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Apply a sensible default font size and line height */
  body {
    font-family: 'Monse', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f7eee9 ;
  }
  
  /* Apply a minimalistic style to improve readability */
  body, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif;
  }
  ul, ol {
    list-style: none;
  }

  
  /* Basic global styles for links */
  a {
    text-decoration: none;
    color: #1C1C1C;
  }


  #navbarSupportedContent{
   
    width: 100%;
    text-align: center;
    transition: 1s linear;
    color: white;
  }

  .navbar-toggler{
      color: #a44910 ;
     
  }

  .navbar-brand span{

    font-weight: 900;
     font-size: 1.5rem;
      margin-right: 70px;
  }

  .navbar-toggler-icon{
    color: #f7eee9;
  }

 nav{
  
  background-color: #f7eee9;
 }

 
.nav-image-box{
  width: 20%;
  margin-top: 10px

} 
 
  nav img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  nav li{
    padding: 8px 0 8px 0px;
  }
  
  .navbar-text{
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
   
  }

  .collapse{
    margin-left: 40px;
  }

  /*End of navBar */
 
  .hero p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 25px;
   
  }
  .hero h1{
    font-size: 55px;
    line-height: 63px;
  }
  .section-one-row{
    margin-top: 140px;
  }



  .hero-img-box{
        width: 90%;
        height: auto;
        animation-name: africa;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
  }


  .hero-img-box img{
        width: 100%;
        height: 100%;
        object-fit: cover;
  }
  /* Remove default list styling */
 
  

  
  /* Responsive image styles */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Container to center content on the page */

  
  /* Flex utility classes for layout */
  
  
  /* Button styles */
  .button {
    display: inline-block;
    padding: 10px 50px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 11px;
    background-color: #a44910;
    color: #f7eee9;
  }
  
  .button:hover {
    background-color: #1C1C1C;
    color: #f7eee9;
  }

 

  .button-2{
    display: inline-block;
    padding: 10px 50px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 11px;
    background-color: #1C1C1C;
    color: #f7eee9;
   
  }


  .h3-sec-2{

    font-size: 1.5em; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
    color: #333; /* Adjust the text color as needed */
  
  }

  .h3-sec-2::before{
    content: "";
    display: inline-block;
    width: 30px; /* Adjust the width of the dash as needed */
    height: 4px; /* Adjust the thickness of the dash as needed */
    background-color: #9c9a99; /* Adjust the color of the dash as needed */
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .section-2{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
     margin-top: 150px;
    box-shadow: #1C1C1C 0px 5px 0px 0px;
      background-color: #fdf8f5 !important;
      padding-bottom: 100px;
  }

  .section-2-1{

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      margin-top: 30px ;

  }

 
  .section-2-2{
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    will-change: transform;
    color: #1C1C1C;
    background-color: #f7eee9;
    
  }


  .section-2-2 h4{
    margin-top: 40px;
  }
  .section-2-2:hover{
    background-color: white;
  }
  .section-2-2:hover .material-symbols-outlined{
    background-color: #a44910;
    color: #f7eee9;
    transition: 0.5s ease-in-out;
  }

  .material-symbols-outlined{
    font-size: 50px;
    color: rgba(0, 120, 255, 1);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 15px;
    background-color: white;
    color: #a44910;
  }

  .icon{
    background-color: #a44910;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 10px;
    color: #f7eee9;
  }

  .icon:hover{
    background-color: #f7eee9;
    color: #a44910;
  }
  

  .card{
    border-radius: 20px;
  }
  .card img{
      height: 320px; 
      object-fit: cover;
      border-radius: 20px;
  }

  .awesome-heading {
    position: relative;
    display: inline-block;
}

.underline::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: #a44910;
    bottom: 0;
    border-radius: 15px;
}

/* Add any additional styles as needed */
.logo-box{

  width: 100%;
  height: 100px;
 
}

.logo-box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-4{
  
  background-color: #f7eee9;
   border-top-left-radius: 200px;
   box-shadow: #a44910 5px -5px 0px 0px;
   margin-top: 200px;
   padding-top: 100px;
}
.section-4 .row{
  margin-top: 50px;
}

.section-5{
  background-color: #fdf8f5 ;
  padding-bottom: 130px;
}
.section-5 .container-fluid{
  
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  width: 80%;
}

.custom-form{
  background-color:#f7eee9; 
  padding-top: 40px;
  padding-bottom: 40px;
   display: flex;
    align-content: center; 
   justify-content: center;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Custom style for focused input fields */
.form-control:focus {
  border-color: #a44910; /* Change the color to your desired color */
  box-shadow: 0 0 0 0.1rem #a44910; /* Optional: Add a subtle box shadow */
}
/* Style for placeholder text */
.form-floating input{
  border-radius: 15px;
}

.section-6{
  background-color: #1C1C1C;
  color: #f7eee9;
  padding-top: 100px;
}

.footer-image-box{
  width: 25%;
  margin: 0 auto;
}

footer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 5px;
}




 

  @keyframes africa {
    0% {
      transform: translateY(-30px);
      opacity: 0;
      
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
 
  
  /* Responsive utility classes */
  @media only screen and (max-width: 442px) {
    .container {
      width: 90%;
      margin: 0 auto;
    }

    .navbar-brand span{

      font-weight: 900;
       font-size: 1.5rem;
        margin-right:100px;
    }
    .nav-image-box{
      width: 50%;
     
    } 
     
      nav img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 1px solid red;
      }
   
    .section-2-1{
      margin: 0px auto;
      margin-top: 100px;
      
    }
    .section-2-2{
      width: 100%;
    
    }
    .section-one-col2{
      
      margin-top: 100px;
    }
  
      .hero h1{
        font-size: 40px;
        line-height: normal;
       
      }
      
     
      .hero-img-box{
        width: 100%;
        height: 500px;
      }
    .custom-form{
      margin-top: 50px;
     
    }

    .underline::before {
      content: '';
      position: absolute;
      width: 30%;
      height: 5px;
      background-color: #a44910;
      bottom: 0;
      right: 112px;
      border-radius: 15px;
  }

  .footer-image-box{
    margin: 0px;
    
  }
  .footer-section{
  margin: 20px;
  }
  }
  

  
  /* Styles for medium screens (480px to 767px) */
 
  
  /* Styles for large screens (768px to 1023px) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Your styles for large screens go here */
  }
  /* Add more styles and components as needed for your project */
  